@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
}

.navbar-style {
    background-color: #0c6a99;
}

.logo-image {
    height: 50px;
    border-radius: 100px;
}

.link-text {
    font-size: 19px;
    color: #ffffff !important;
}

.current-page-link {
    color: #00ffe5 !important;
    font-weight: 600;
}

.home-bg {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1590859808308-3d2d9c515b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80");
    background-size: cover;
}

.home-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
}

.home-description {
    color: #0de3ff;
    font-size: 25px;
    font-family: "Roboto";
}

.facts-bg {
    background-color: #323f4b;
}

.section-title {
    color: #638edf;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 600;
}

.about-me {
    color: white;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 49px;
}

.about-me-img {
    width: 100%;
}

.about-me-description {
    color: #9aa5b1;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 400;
}

.academic-bg {
    background-color: #52606d;
}

.academics-card {
    background-color: #323f4b;
    border-radius: 10px;
}

.academic-card-heading {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 30px;
    color: #788aab;
}

.institute-name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    color: #ffc814;
}

.extra-details {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
    color: white;
    margin: 0px;
}

.course-name {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 17px;
    color: white;
}

.skills-bg {
    background-color: #1f2933;
}

.skills-card {
    background-color: #323f4b;
    text-align: center;
    border-radius: 8px;
}

.skills-name {
    color: white;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
}

.skills-image {
    width: 40%;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 20px;
}

.projects-bg {
    background-color: #3e4c59;
}

.projects-heading {
    color: white;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 700;
}

.projects-card {
    background-color: #323f4b;
    border-radius: 20px;
}

.project-name {
    font-family: "Roboto";
    font-size: 25px;
    color: white;
    font-weight: 300;
}

.project-description {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 200;
    color: #9aa5b1;
}

.see-it {
    color: #cced00;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
}

.footer-container {
    background-color: #0d2436;
}

.footer-heading {
    font-family: "Roboto";
    font-size: 28px;
    color: #cced00;
    font-weight: 600;
}

.footer-detail {
    font-family: "Roboto";
    font-size: 15px;
    color: #9aa5b1;
    font-weight: 400;
}

.footer-icon {
    font-size: 24px;
    color: #9aa5b1;
}

.copyright {
    background-color: #001c32;
    text-align: center;
    padding: 10px;
}

.copyright-text {
    font-family: "Roboto";
    font-size: 20px;
    color: #5a7184;
    font-weight: 400;
}

.footer-icon-container {
    background-color: #152c3e;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 100px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 13px;
}
